# Dépendances et artefacts locaux
node_modules
dist
coverage
.vite

# Git et CI
.git
.github
.gitignore

# Docs et manifestes non nécessaires au build de l'image
docs
k8s
README.md
CHANGELOG.md
LICENSE

# Divers
*.log
npm-debug.log*
.DS_Store
.env
.env.*
Dockerfile
.dockerignore
